[submodule "submodules/libprotection-common"]
	path = submodules/libprotection-common
	url = https://github.com/LibProtection/libprotection-common.git
	branch = javascript_cpp
[submodule "submodules/catch2"]
	path = submodules/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "submodules/antlr4cpp"]
	path = submodules/antlr4cpp
	url = https://github.com/antlr/antlr4.git
