[submodule "submodules/libprotection-common"]
	path = submodules/libprotection-common
	url = https://github.com/LibProtection/libprotection-common.git
	branch = javascript_cpp
[submodule "submodules/catch"]
	path = submodules/catch
	url = https://github.com/catchorg/Catch2.git
[submodule "submodules/fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "submodules/antlr4"]
	path = submodules/antlr4
	url = https://github.com/antlr/antlr4.git
